:root {
  --bg: #EFEFEF;
  --fg: #0F0F0F;
  --sin: #0033FF;
  --cos: #dd0000;
  --circ: #880088;
  --sinalpha: #0033FF7F;
  --cosalpha: #dd00007F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0F0F0F;
    --fg: #AFAFAF;
    --sin: #3399FF;
    --cos: #FF3333;
    --circ: #FF33FF;
    --sinalpha: #3399FF7F;
    --cosalpha: #FF33337F;
    }
}

@media (max-width: 1200px) {
  :root {
    --layout: "title" auto "key" auto "canvas" auto "text" 1fr / auto;
    --pad: 1rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --layout: "canvas ." 1fr "canvas title" auto "canvas key" auto "canvas text" auto "canvas ." 1fr  / 2fr 1fr;
    --pad: 3rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 120rem;
  overflow-x: hidden;
  overflow-y: auto;
  margin: auto;
}

#title { grid-area: title; }
#key { grid-area: key; }
#text { grid-area: text; }
#canvas { grid-area: canvas; width: 100%; max-width: 80em;}

#title, #key, #text {
  padding: var(--pad);
}

#key div {
  display: flex;
  flex-wrap: wrap;
}

#key div label {
  min-width: 10em;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: sans-serif;
  display: grid;
  grid-template: var(--layout);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

p {
  margin-bottom: 1em;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.sine { color: var(--sin); }
.cosine { color: var(--cos); }
.circle { color: var(--circ); }

i, em {
  font-family: serif;
}

label {
  padding: 0.25em;
  border-radius: 0.25em;
  margin: 0.125em;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  border: thin solid var(--fg);
  transition: 0.2s linear;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + label {
  background: var(--fg);
  color: var(--bg);
}

label[type=nudge]:active {
  transform: scale(0.95, 0.95);
}
