:root {
  --bg: #EFEFEF;
  --fg: #0F0F0F;
  --sin: #0000dd;
  --cos: #dd0000;
  --circ: #880088;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0F0F0F;
    --fg: #AFAFAF;
    --sin: #3333FF;
    --cos: #FF3333;
    --circ: #FF33FF;
    }
}

@media (max-width: 1200px) {
  :root {
    --layout: column;
  }
  canvas {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  :root {
    --layout: row;
  }
  canvas {
    max-height: 100%;
    width: 800px;
  }
}

code {
  font-weight: bold;
  font-size: 120%;
  border: solid thin var(--fg);
  min-width: 1em;
  display: inline-block;
  border-radius: 0.3em;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: var(--layout);
  min-height: 100vh;
}

main {
  margin: 2vmin;
  max-width: 40em;
}


abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

i { color: var(--sin); font-style: normal;}
em { color: var(--cos); font-style: normal;}
b { color: var(--circ); font-weight: normal;}

